

.jumbotron{
	padding-top: 7rem;
}

#action{
	padding-top: 5rem;

}

#romance{
	padding-top: 5rem;

}

#family{
	padding-top: 5rem;
}
#horor{
	padding-top: 5rem;
}
#comedy{
	padding-top: 5rem;
}
#religi{
	padding-top: 5rem;
}
#sport{
	padding-top: 5rem;
}
#drama{
	padding-top: 5rem;
}
#footer{
    padding-top: 5rem;
}
#film{
	padding-top: 3rem;
}